<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="row">
		<p>
	</div>

	<div class="container">
		<div class="row mt-2">
			<div class="col-2"></div>
			<div class="col">

				<div class="card bg-light border-secondary">
					<div class="card-header text-dark text-center" id="card-titulo"
						th:text="${titulo}"></div>
					<div class="card-body">

						<form th:action="@{/formdibu}" th:object="${dibujo}"
							method="post">


							<div class="form-row">

								<div class="col-md-6 mb-1">
									<label for="nomdibujo">Dibujo</label> <input type="text"
										th:field="*{nomdibujo}" class="form-control" th:errorclass="'form-control alert-danger'"/>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('nomdibujo')}"
										th:errors="*{nomdibujo}"></small>	
								</div>


						<div class="col-md-3 mb-1" style="padding-left: 45px">
									<label>Registro</label>
									<div class="form-check">
										<label for="" class="form-check-label"> <input
											type="radio" th:field="*{activo}" th:value=1
											class="form-check-input mr-2"
											th:errorclass="'form-control alert-danger'" />Alta
										</label>
									</div>

									<div class="form-check">
										<label for="" class="form-check-label"> <input
											type="radio" th:field="*{activo}" th:value=0
											class="form-check-input mr-2"
											th:errorclass="'form-control alert-danger'">Baja
										</label>
									</div>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('activo')}" th:errors="*{activo}"></small>
								</div>


								<div class="col-md-3 mb-1">
									<label for="fecha">Fecha</label> <input type="text"
										class="form-control" th:field="*{fecha}"
										placeholder="dia-mes-año"
										th:errorclass="'form-control alert-danger'"> <small
										class="form-text text-danger"
										th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}"></small>
								</div>


							</div>





							<a class="btn btn-warning btn-xs mt-4" th:href="@{'/submenu/'}"
								th:text="'&laquo; Regresar'"></a>
							<button class="btn btn-primary mt-4" type="submit">Guardar</button>
							<!-- // Mio -->

						</form>

					</div>
				</div>
			</div>
			<!-- div col -->

			<div class="col-2"></div>
		</div>
		<!-- div row -->
	</div>
	<!-- div container -->

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>