<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>


	<div class="row">
		<p>
	</div>

	<div class="container">
		<div class="row mt-2">
			<div class="col-1"></div>
			<div class="col">

				<div class="card bg-light border-secondary">

					<div class="card-header text-dark text-center" id="card-titulo"
						th:text="${titulo}"></div>

					<div class="container">
						<div class="row">

							<div class="col">
								<a class="btn btn-primary btn-sm mt-4"
									th:href="@{'/formmaquidibu/'}" th:text="'Nuevo'"></a>
							</div>
						</div>
					</div>


					<div class="card-body">

						<table class="table table-striped table-sm">

							<thead>
								<tr>
									<th>Máquina</th>
									<th>Dibujo</th>
									<th>Editar</th>
									<th>Eliminar</th>

								</tr>
							</thead>

							<tbody>
								<tr th:each="maquidibu: ${maquidibus}" th:if="${maquidibu.activo == 1 && maquidibu.maquina.activo ==1}">

									<td th:text="${maquidibu.maquina.numero}"></td>
									<td th:text="${maquidibu.dibujo.nomdibujo}"></td>
									
										<td><a class="btn btn-primary btn-sm"
										th:href="@{/formmaquidibu/} + ${maquidibu.id}" th:text="'Editar'"></a></td>

										
										<td><a class="btn btn-danger btn-sm"
										th:href="@{/fueramaquidibu/} + ${maquidibu.id}" th:text="'Eliminar'"
										onclick="return confirm('Estás seguro que quieres eliminar?')"></a>

									


								</tr>
							</tbody>

						</table>



					</div>

				</div>


			</div>
			<!-- div col -->

			<div class="col-1"></div>
		</div>
		<!-- div row -->
	</div>
	<!-- div container -->

	<footer th:replace="layout/layout :: footer"></footer>
	<script>
		$(function() {
			$('[data-toggle="tooltip"]').tooltip();
		})
	</script>

</body>
</html>