<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="row">
		<p>
	</div>

	<main role="main">
		<hr>
		<div class="container">
			<div class="row mt-2">
				<div class="col-2"></div>

				<div class="col-8">

					<div class="card bg-light border-secondary">
						<div class="card-header text-dark text-center" id="card-titulo"
							th:text="'Nuevo Usuario'"></div>

						<div class="card-body">
							<form th:action="@{/signup}" th:object="${usuario}" method="post">

								<div class="row">

									<div class="col-md-3">
										<div class="form-group">
											<label for="username">Usuario</label> <input type="text"
												class="form-control" th:field="*{username}" id="username"
												name="username"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('username')}"
												th:errors="*{username}"></small>

										</div>
									</div>
									<div class="col-md-3">
										<div class="form-group">
											<label for="password">Contraseña</label> <input
												type="password" class="form-control" th:field="*{password}"
												id="password" name="password"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('password')}"
												th:errors="*{password}"></small>

										</div>
									</div>
									
									
									
								<!-- -	
									<div class="col-md-3">
										<div class="form-group">
											<label for="perfilUsuario">Tipo de Usuario</label> <input type="text"
												class="form-control" th:field="*{perfilUsuario}" id="perfilUsuario"
												name="perfilUsuario"> <small
												class="form-text text-danger"
												th:if="${#fields.hasErrors('perfilUsuario')}"
												th:errors="*{perfilUsuario}"></small>

										</div>
									</div>
									
									 -->
									
							<div class="col-md-3 mb-1" style="padding-left: 45px">
									<label>Tipo de Usuario</label>
									<div class="form-check">
										<label for="" class="form-check-label"> <input
											type="radio" th:field="*{perfilUsuario}" th:value=1
											class="form-check-input mr-2"
											th:errorclass="'form-control alert-danger'">Administrador
										</label>
									</div>

									<div class="form-check">
										<label for="" class="form-check-label"> <input
											type="radio" th:field="*{perfilUsuario}" th:value=2
											class="form-check-input mr-2"
											th:errorclass="'form-control alert-danger'">Encargado
										</label>
									</div>
									<small class="form-text text-danger"
										th:if="${#fields.hasErrors('perfilUsuario')}" th:errors="*{perfilUsuario}"></small>
								</div>
									
									
									
								</div>
								<hr>
								
								<div class="col">
								<a class="btn btn-warning btn-sm" th:href="@{/usuarios/index}"
									th:text="'&laquo; Regresar'"></a>
								
								<button type="submit" title="Quiero registrarme."
									class="btn btn-primary  btn-sm">Registrarse</button>
									</div>
							</form>
						</div>
					</div>

					<div class="col-2"></div>

				</div>
			</div>
		</div>
		<!-- /container -->

	</main>



	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>