<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container">
		<div class="row mt-3">
			<div class="col-12 col-md-3 my-2"></div>
		</div>
	</div>


	<div class="container">
		<!-- Container -->

		<!-- Titulo 
		<div class="row mt-5">
			<div class="col">
				<div class="card" style="color: #CDA4E0">
					<div class="card-body bg-dark">
						<h1 class="mb-3">Alta de Proveedores, Composiciones, Lotes y
							Dibujos.</h1>

					</div>
				</div>
			</div>
		</div>

-->

		<div class="row my-3">

			<div class="col">
				<div class="card border-dark" id="card-titulo">
					<div class="card-body text-center">
						<h3 class="card-title">Proveedores.</h3>
						<p class="card-text"></p>
						<a th:href="@{/listprov}" class="btn btn-primary">Lista</a> <a
							th:href="@{/formprov}" class="btn btn-success">Agregar</a>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card border-dark" id="card-titulo">
					<div class="card-body text-center">
						<h3 class="card-title">Composiciones.</h3>
						<p class="card-text"></p>
						<a th:href="@{/listcompo}" class="btn btn-primary">Lista</a> <a
							th:href="@{/formcompo}" class="btn btn-success">Agregar</a>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card border-dark" id="card-titulo">
					<div class="card-body text-center">
						<h3 class="card-title">Dibujos.</h3>
						<p class="card-text"></p>
						<a th:href="@{/listdibu}" class="btn btn-primary">Lista</a> <a
							th:href="@{/formdibu}" class="btn btn-success">Agregar</a>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card border-dark" id="card-titulo">
					<div class="card-body text-center">
						<h3 class="card-title">Lotes</h3>
						<p class="card-text"></p>
						<a th:href="@{/listlot}" class="btn btn-primary">Lista</a> <a
							th:href="@{/formlot}" class="btn btn-success">Agregar</a>
					</div>
				</div>
			</div>

		</div>


	</div>
	<!-- Container -->


	<div class="container">
		<div class="row mt-3">
			<div class="col-12 col-md-3 my-2"></div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>